#container {
    height: auto;
    width: 25%;
    margin: auto;
    margin-top: 30px;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(131, 131, 131, 0.35);
    height: 1.2px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }

  #head {
    font-weight: 400;
    color: black;
    font-size: 23px;
  }

  #use {
    text-align: center;
    color: rgb(168, 168, 168);
    font-size: 12px;
    margin-top: 30px;
  }

  input {
    height: 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 0.5px solid rgba(185, 183, 183, 0.35);
    color: rgb(6, 6, 6);
    font-size: 16px;
  }

  .google {
    font-family: arial;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding: 8px;
    display: block;
    border-radius: 5px;
    border: 0.5px solid rgba(185, 183, 183, 0.35);
    color: rgb(164, 164, 164);
    font-size: 11px;
    display: flex;
    justify-content: center;
  }
  .subhead {
    font-size: 11px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }

  #namebox {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  #namebox > div {
    width: 45%;
    margin-left: 5px;
  }

  .blkin {
    margin-top: -8px;
  }

  .first {
    margin-left: -4px;
    margin-top: 20px;
  }

  #gender {
    height: 45px;
    margin: auto;
    margin-top: 5px;
    width: 97%;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 0.5px solid rgba(185, 183, 183, 0.35);
    color: grey;
    font-size: 14px;
    cursor: pointer;
  }
  /* 
  option {
    paddind: 10px;
  } */

  img {
    height: 17px;
    width: 17px;
    border-radius: 1px;
    margin-left: 0px;
  }

  #check {
    margin: 0px;
    padding-top: 0px;
    width: 15px;
    cursor: pointer;
  }

  .connect {
    justify-content: space-between;
    align-content: center;
    font-size: 13px;
  }

  #check + div {
    color: black;
  }

  #check ~ img {
    height: 21px;
    width: 21px;
  }

  #reg {
    height: 45px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 96%;
    padding: 10px;
    display: block;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 14px;
    background-color: #c850c0;
    background-image: linear-gradient(59deg, #c850c0 38%, #4158d0 78%);
    cursor: pointer;
  }

  button + div {
    margin-top: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: arial;
    margin-bottom: 20px;
  }

  .social {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 96%;
    padding: 15px;
    display: block;
    border-radius: 5px;
    color: rgb(145, 145, 145);
    border: none;
    font-size: 13px;
    cursor: pointer;
  }

  .facebook {
    background: #f0f0f0
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ-cRaRj4QWiJoiCC8xv1D1XWlXANNWNKiuw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 12px;
  }

  a {
    text-decoration: none;
  }

  #log {
    color: red;
    cursor: pointer;
  }

  .googlee {
    background: #f0f0f0
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhwFXc0_kkWCXzk1xUiYZbiMEGg89f60qq6Q&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 12px;
  }

  #isd {
    height: 42px;
    width: 100%;
    padding: 9px;
    margin-top: -8px;
    border-radius: 5px;
    border: 0.5px solid rgba(185, 183, 183, 0.35);
  }

  .opt {
    font-size: 18px;
  }

  #goog {
    text-decoration: none;
    color: rgb(145, 145, 145);
  }